doctype html
html
  head
  body
    h1 Test
    div
      input.obs-status(type="checkbox" onclick="return false")
      span OBS Status
    div
      input.stinger-status(type="checkbox" onclick="return false")
      span Stinger Status
    div
      input(type="button" onclick="combo()" value="Combo" disabled)
    script(src="main.js")